* {
    font-family: SF Pro Text, sans-serif;
}
body{
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    background: rgba(249, 249, 249, 0.94);
}
.header_left{
    display: flex;
    gap: 42px;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.collection{
    text-decoration: none;
    border: none;
    margin-left: 32px;
    width: 151px;
    height: 38px;
    justify-content: center;
    background-color: rgba(249, 249, 249, 0.94);
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.336px;
}
.add {
    border: none;
    justify-content: center;
    background-color: rgba(249, 249, 249, 0.94);
    border-radius: 20px;
    width: 142px;
    height: 38px;
    text-decoration: none;
    gap: 12px;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.336px;
}

.logo{
    margin-left: 364px;
    margin-right: 509px;
    max-width: 100%;
    max-height: 100%;

}
.header_right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 31px;
}
.panel{
    text-decoration: none;
    border: none;
    justify-content: center;

    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 11px;
    color: black;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.336px;
    width: 115px;
    height: 38px;
}
.user_photo{
    padding-right: 26px;
}
.search_panel{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 82px;
}
.searching{
    margin-left: 492px;
    margin-right: 487px;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 41px; /* 113.889% */
    letter-spacing: 0.374px;
}
.search_panel_input{
    margin-top: 19px;
    border-bottom: 1px solid  rgba(60, 60, 67, 0.30);

}
.search_input{
    border: none;
    width: 473px;
    height: 60px;
    padding-left: 16px;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 129.412% */
    letter-spacing: -0.408px;
}
.recommendations_group{
    margin-left: 492px;
    margin-right: 487px;
}
.name_h2{
    width: 303px;
}
.group_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 127px;
}
.recommendation_films{
    display: flex;
    flex-direction: row;
    gap: 16.68px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 21.449px; /* 178.746% */
    letter-spacing: -0.093px;
}
.first_film h3, .second_film h3, .third_film h3, .fourth_film h3{
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 21.449px; /* 178.746% */
    letter-spacing: -0.093px;
}
.all{
    text-decoration: none;
    color: #002DFF;
}